.header {

}

.header h1 {
	font-size: 24px;
	margin: 0;
	padding: 6px;
	text-transform: uppercase;
}

.header .cinema {
	color: #eb168c;
}

.content h2 {
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
}

.cun {
	text-transform: uppercase;
}

.ui-content {
	padding: 15px 0;
}

.ui-btn-down-c {
	background-image: -webkit-linear-gradient( white,#F1F1F1 );
	background-image: -moz-linear-gradient( white,#F1F1F1 );
	background-image: -ms-linear-gradient( white,#F1F1F1 );
	background-image: -o-linear-gradient( white,#F1F1F1 );
	background-image: linear-gradient( white,#F1F1F1 );
}

h3 {
	margin-top: 0 !important;
}

.video-list-left {
	float: left;
	margin-right: 10px;
	width: 50px;
}

button.thumb {
	background-color: #eee;
	background-image: url('../img/thumbs-up.png');
	background-repeat: no-repeat;
	background-position: 4px 4px;
	border: 1px solid rgba(0,0,0,0.50);
	border-radius: 4px;
	float: left;
	height: 16px;
	margin-top: 8px;
	margin-left: 20px;
	padding: 16px;
	width: 16px;
}

button.thumb:active, button.thumb:hover, button.thumb:focus {
	background-color: #999;
}

button.thumb.voted {
	background-color: #e9168c;
}

.video-list-left img {
	float: left;
}

.video-list-right {
	float: left;
	margin-top: 4px;
	width: 200px;
}

.vote-count-value {
	margin-right: 2px;
}

.video-items li {
	background-color: #fff;
	border: 0;
	border-radius: 0;
	margin-bottom: 5px;
}

.video-items a.ui-link-inherit {
	padding: 0 !important;
}

.video-items span {
	font-weight: normal;
}

.video-items span.ui-icon-arrow-r {
	background: none;
}

.video-items h3 {
	font-size: 14px;
	margin-bottom: 0;
	overflow: hidden;
}

.video-list-right span {
	display: inline-block;
	font-size: 12px;
	overflow: hidden;
}

.video-list-img {
	height: 50px;
	width: 50px;
}

.footer {
	height: 60px;
}

.ui-btn {
	background-color: #000;
	height: 60px;
}

/* Never actually select an element this way - so DOM expensive */
[href="#vote"] {
	background-image: url('../img/thumbs-up-white.png') !important;
	background-position: 50% 8px !important;
	background-repeat: no-repeat !important;
	line-height: 72px !important;
}

[href="#vote"].ui-btn-active {
	background-image: url('../img/thumbs-up-pink.png') !important;
}

[href="#search"] {
	background-image: url('../img/search-white.png') !important;
	background-position: 50% 8px !important;
	background-repeat: no-repeat !important;
	line-height: 72px !important;
}

[href="#search"].ui-btn-active {
	background-image: url('../img/search-pink.png') !important;
}

.ui-btn-active {
	color: #eb168c !important;

	border: 1px solid #111;
	background: #333;
	font-weight: bold;
	color: white;
	text-shadow: 0 1px 1px #111;
	/*background-image: -webkit-gradient(linear,left top,left bottom,from( #444 ),to( #2D2D2D ));
	background-image: -webkit-linear-gradient( #444,#2D2D2D );
	background-image: -moz-linear-gradient( #444,#2D2D2D );
	background-image: -ms-linear-gradient( #444,#2D2D2D );
	background-image: -o-linear-gradient( #444,#2D2D2D );
	background-image: linear-gradient( #444,#2D2D2D );*/
}